.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.square {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  user-select: none;
}

.score-table-container {
  width: 150px;
  text-align: center;
}

.score-table {
  width: 100%;
  text-align: left;
}

.word-list-list {
  text-align: left;
}
